#### Домашнее задание.
## Урок 9 - Оптимизации и эффективные практики
#### Выполнил работу: Данил Кузнецов
Задание 1. Вам будет выдан файл, в котором хранятся поля:
● Date — день, когда метрики актуальны,
● ARPPU — средний чек платящего в этот день,
● PPU — процент платящих в этот день.
Нужно посчитать ARPU через метод apply.

Задание 2. Вам будет выдан файл с событиями входа в игру (session_start) с полями:
● event_date — когда пользователь зашёл в игру,
● current_lvl — уровень игрока,
● client_id — id пользователя.
Вам нужно будет посчитать, сколько в среднем пользователи делают логинов в день, в зависимости от
их уровня.
Интересует разбивка по уровням: low(1-5) , mid(6-10) , high(11-20), core_players(21+)

In [1]:
import pandas as pd
import numpy as np

## Задание 1

In [2]:
arrpu_dataset = pd.read_csv('arrpu_dataset.csv',index_col = 0)

In [3]:
def count_arpu(df):
    arpu = df['ARPPU']*df['PPU']
    return arpu

arrpu_dataset['ARPU'] = arrpu_dataset.apply(count_arpu,axis=1)
arrpu_dataset

    event_date       PPU       ARPPU       ARPU
0   2021-05-01  0.032813  697.413815  22.884097
1   2021-05-02  0.027528  692.896291  19.074237
2   2021-05-03  0.025673  604.133114  15.509945
3   2021-05-04  0.020518  781.156617  16.027384
4   2021-05-05  0.017463  658.357326  11.496902
5   2021-05-06  0.020135  731.699970  14.732509
6   2021-05-07  0.020372  563.897669  11.487979
7   2021-05-08  0.023103  603.308098  13.937936
8   2021-05-09  0.022951  580.237081  13.317271
9   2021-05-10  0.020041  975.255339  19.545466
10  2021-05-11  0.017528  661.834141  11.600367
11  2021-05-12  0.017007  613.202596  10.428957
12  2021-05-13  0.021426  569.850138  12.209571
13  2021-05-14  0.028919  686.772500  19.861083
14  2021-05-15  0.026820  780.226576  20.925816
15  2021-05-16  0.020345  631.982960  12.857557
16  2021-05-17  0.019584  424.031667   8.304170
17  2021-05-18  0.022123  786.593646  17.401680
18  2021-05-19  0.021077  604.741597  12.746197
19  2021-05-20  0.031060  680.251549  21.128515
20  2021-05-21  0.029160  636.030858  18.546354

## Задание 2

In [4]:
logins = pd.read_csv('les9_logins.csv',index_col = 0)
logins

C:\Users\4dani\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,client_id,event_timestamp,current_lvl,is_tester,is_youtuber
0,e6428ccf-64c7-4324-abec-9ac8cf4f9bc4,2021-04-01 08:15:22,7,0,0
1,563c25ad-4d10-45a0-a599-62ab8d0f54d8,2021-04-01 08:12:13,6,0,0
2,013fb566-ca55-48e1-93c5-7485465b5471,2021-04-01 08:12:14,14,0,0
3,4c777f7f-d684-456a-9115-395546dcef1b,2021-04-01 08:08:26,7,0,0
4,320128b5-f3d3-41f4-a712-138c1a7a4973,2021-04-01 08:08:27,19,0,0
...,...,...,...,...,...
1017111,41b24ef5-9e68-4ba7-89aa-a59fc2d827e9,2021-04-05 11:46:05,26,0,0
1017112,d6810d7b-4193-46c4-8747-63d750113f9f,2021-04-05 10:58:55,15,0,0
1017113,51b2ae5c-40ad-4b7b-8130-684877a161a7,2021-04-05 11:46:05,5,0,0
1017114,c7d5eecf-6870-466a-992c-48c2bb3e191b,2021-04-05 10:58:37,24,0,0
1017115,51b2ae5c-40ad-4b7b-8130-684877a161a7,2021-04-05 11:46:05,5,0,0

In [5]:
def level_group(lvl):
    if lvl < 6 :
        return 'low'
    if 5 < lvl < 11 :
        return 'mid'
    if 10 < lvl < 21:
        return 'high'
    return 'core_players'

logins['level_group'] = logins['current_lvl'].apply(level_group)
logins

,client_id,event_timestamp,current_lvl,is_tester,is_youtuber,level_group
0,e6428ccf-64c7-4324-abec-9ac8cf4f9bc4,2021-04-01 08:15:22,7,0,0,mid
1,563c25ad-4d10-45a0-a599-62ab8d0f54d8,2021-04-01 08:12:13,6,0,0,mid
2,013fb566-ca55-48e1-93c5-7485465b5471,2021-04-01 08:12:14,14,0,0,high
3,4c777f7f-d684-456a-9115-395546dcef1b,2021-04-01 08:08:26,7,0,0,mid
4,320128b5-f3d3-41f4-a712-138c1a7a4973,2021-04-01 08:08:27,19,0,0,high
...,...,...,...,...,...,...
1017111,41b24ef5-9e68-4ba7-89aa-a59fc2d827e9,2021-04-05 11:46:05,26,0,0,core_players
1017112,d6810d7b-4193-46c4-8747-63d750113f9f,2021-04-05 10:58:55,15,0,0,high
1017113,51b2ae5c-40ad-4b7b-8130-684877a161a7,2021-04-05 11:46:05,5,0,0,low
1017114,c7d5eecf-6870-466a-992c-48c2bb3e191b,2021-04-05 10:58:37,24,0,0,core_players
1017115,51b2ae5c-40ad-4b7b-8130-684877a161a7,2021-04-05 11:46:05,5,0,0,low

In [6]:
logins['event_timestamp'] = pd.to_datetime(logins['event_timestamp'], format='%Y-%m-%d')

logins['day_start'] = logins['event_timestamp'].dt.to_period('d').dt.start_time
logins

,client_id,event_timestamp,current_lvl,is_tester,is_youtuber,level_group,day_start
0,e6428ccf-64c7-4324-abec-9ac8cf4f9bc4,2021-04-01 08:15:22,7,0,0,mid,2021-04-01
1,563c25ad-4d10-45a0-a599-62ab8d0f54d8,2021-04-01 08:12:13,6,0,0,mid,2021-04-01
2,013fb566-ca55-48e1-93c5-7485465b5471,2021-04-01 08:12:14,14,0,0,high,2021-04-01
3,4c777f7f-d684-456a-9115-395546dcef1b,2021-04-01 08:08:26,7,0,0,mid,2021-04-01
4,320128b5-f3d3-41f4-a712-138c1a7a4973,2021-04-01 08:08:27,19,0,0,high,2021-04-01
...,...,...,...,...,...,...,...
1017111,41b24ef5-9e68-4ba7-89aa-a59fc2d827e9,2021-04-05 11:46:05,26,0,0,core_players,2021-04-05
1017112,d6810d7b-4193-46c4-8747-63d750113f9f,2021-04-05 10:58:55,15,0,0,high,2021-04-05
1017113,51b2ae5c-40ad-4b7b-8130-684877a161a7,2021-04-05 11:46:05,5,0,0,low,2021-04-05
1017114,c7d5eecf-6870-466a-992c-48c2bb3e191b,2021-04-05 10:58:37,24,0,0,core_players,2021-04-05
1017115,51b2ae5c-40ad-4b7b-8130-684877a161a7,2021-04-05 11:46:05,5,0,0,low,2021-04-05

In [7]:
logins = logins.groupby(['level_group','day_start']).agg({'client_id':'count'})

In [8]:
logins = logins.groupby(['level_group']).agg({'client_id':'mean'})
logins.columns = ['AVG']
logins

                  AVG
level_group
core_players  65534.4
high          48892.4
low           38353.4
mid           50643.0