#### Домашнее задание.
## Урок 4 - Индексы и базовые операции в Pandas
#### Выполнил работу: Данил Кузнецов
Написать функцию, которая бы фильтровала данные и возвращала все подозрительные события.
Написать функцию, которая оставляет только аномально большие (подозрительные) значения.
Написать функцию, чтобы дальше было легче отлавливать читеров.

## Задание 1

In [1]:
import pandas as pd

import numpy as np

In [2]:
data = pd.read_csv('lesson_4_dataset.csv')
data.head(5)

,event_time,user_id,source_class,currency,value
0,2021-04-21 23:42:31+00:00,484430195521975077,mob_reward,soft,6250000
1,2021-04-21 20:56:14+00:00,4021264907075942352,quest,soft,140730000
2,2021-04-21 18:52:05+00:00,8913259916046877360,mob_reward,soft,5250000000
3,2021-04-21 19:42:35+00:00,8904040290350505297,quest,soft,140730000
4,2021-04-21 18:41:05+00:00,8913259916046877360,mob_reward,soft,5250000000

In [3]:
data_quest = data[data['source_class'] == 'quest']
data_quest.sort_values(by='value', ascending=False).head(10)

,event_time,user_id,source_class,currency,value
1,2021-04-21 20:56:14+00:00,4021264907075942352,quest,soft,140730000
24,2021-04-21 18:38:44+00:00,4898819903919627454,quest,soft,140730000
25,2021-04-21 18:38:44+00:00,72415568106735902,quest,soft,140730000
3,2021-04-21 19:42:35+00:00,8904040290350505297,quest,soft,140730000
10,2021-04-21 19:04:54+00:00,8635943763324840393,quest,soft,140730000
7,2021-04-21 19:35:04+00:00,8635943763324840393,quest,soft,140730000
26,2021-04-21 23:37:45+00:00,4795442471954796451,quest,soft,139851000
36,2021-04-21 23:10:29+00:00,4795442471954796451,quest,soft,139851000
38,2021-04-21 22:48:10+00:00,4795442471954796451,quest,soft,139851
46,2021-04-21 20:51:24+00:00,2742121573859906086,quest,soft,139851

In [4]:
data_mob_reward = data[data['source_class'] == 'mob_reward']
data_mob_reward.sort_values(by='value', ascending=False).head(10)

,event_time,user_id,source_class,currency,value
4,2021-04-21 18:41:05+00:00,8913259916046877360,mob_reward,soft,5250000000
2,2021-04-21 18:52:05+00:00,8913259916046877360,mob_reward,soft,5250000000
5,2021-04-21 20:02:48+00:00,7113185143093957283,mob_reward,soft,4200000000
6,2021-04-21 20:14:54+00:00,636584905446569920,mob_reward,soft,3500000000
8,2021-04-21 18:52:05+00:00,2159090196841165336,mob_reward,soft,3500000000
0,2021-04-21 23:42:31+00:00,484430195521975077,mob_reward,soft,6250000
9,2021-04-21 22:17:54+00:00,7113185143093957283,mob_reward,soft,3150000
11,2021-04-21 19:54:44+00:00,7113185143093957283,mob_reward,soft,2800000
12,2021-04-21 20:11:36+00:00,7113185143093957283,mob_reward,soft,2100000
13,2021-04-21 19:09:15+00:00,7113185143093957283,mob_reward,soft,2100000

## Нижняя граница аномальных значений:
### для quest - 10.000.000
### для mob_reward	- 100.000.000

In [5]:
def cheater_detecter(dataframe):
    return dataframe[((dataframe['source_class'] == 'quest') & (dataframe['value'] >= 10000000)) 
                  | ((dataframe['source_class'] == 'mob_reward') & (dataframe['value'] >= 100000000))]

In [6]:
cheater_detecter(data)

,event_time,user_id,source_class,currency,value
1,2021-04-21 20:56:14+00:00,4021264907075942352,quest,soft,140730000
2,2021-04-21 18:52:05+00:00,8913259916046877360,mob_reward,soft,5250000000
3,2021-04-21 19:42:35+00:00,8904040290350505297,quest,soft,140730000
4,2021-04-21 18:41:05+00:00,8913259916046877360,mob_reward,soft,5250000000
5,2021-04-21 20:02:48+00:00,7113185143093957283,mob_reward,soft,4200000000
6,2021-04-21 20:14:54+00:00,636584905446569920,mob_reward,soft,3500000000
7,2021-04-21 19:35:04+00:00,8635943763324840393,quest,soft,140730000
8,2021-04-21 18:52:05+00:00,2159090196841165336,mob_reward,soft,3500000000
10,2021-04-21 19:04:54+00:00,8635943763324840393,quest,soft,140730000
24,2021-04-21 18:38:44+00:00,4898819903919627454,quest,soft,140730000
25,2021-04-21 18:38:44+00:00,72415568106735902,quest,soft,140730000
26,2021-04-21 23:37:45+00:00,4795442471954796451,quest,soft,139851000
36,2021-04-21 23:10:29+00:00,4795442471954796451,quest,soft,139851000